<table>
    {{#each this}}
        <tr class="{{this.direction}}">
            <td>{{this.ident}}</td>
            <td>{{this.location}}</td>
            <td class="{{this.realtime}}">{{this.time}}</td>
            <td class="countdown">{{this.minutes}}</td>
        </tr>
    {{/each}}
</table>
